
section.header
  .container-fluid
    .row
      .col-md-6
        .logo-wrapper
          .logo-img 
        span.logo.hidden-sm.hidden-xs Seibert Software Solutions, LLC
      .col.md-6.navigation
        .link
          a(du-smooth-scroll="home") Home
        .link 
          a(du-smooth-scroll="team") Team
        .link 
          a(du-smooth-scroll="portfolio") Portfolio
        .link 
          a(du-smooth-scroll="contact") Contact
        .link
          a(href="http://codyseibert.com", target="_blank") Blog

section.banner#home
  .container
    .row
      .col-md-7
        .main
          h1 Seibert Software Solutions, LLC
        .slogan
          h2 We 
            b Specialize 
            | in 
            span Web Apps
        .info
          h3 Building a web app doesn't have to be hard.  Present to us your idea, and our team will make it come to fruition. 
            br
            | Just sit back, we'll take care of the hard part.
            //- u
            //-   b specialize 
            //- |in building responsive web applications. 
            //- br
            //- br
            //- | Our team has 
            //- u
            //-   b years of experience 
            //- | planning, designing, developing, testing, and deploying responsive web applications.  Let us take care of the hard part.
            
      .col-md-5
        img.main-catch(
          src="assets/images/catch.jpg"
        )
        
section.catch
  .container
    .row
      .col-md-12.center
        h2 We Know Web Development
        hr
        
    .row
      .col-md-4.center
        .box.catch1
          i.fa.fa-laptop
          
        .snippit 
          b Development is Hard
          .left Our team makes it easy.  We are experienced in multiple web technologies and development processes.  In short, your company will
            u
              b achieve
            |   its goals.
          
      .col-md-4.center
        .box.catch2
          i.fa.fa-hourglass-end
          
        .snippit 
          b We Don't Waste Time
          .left If your company has a clear vision, we'll find the perfect solution.  All of our processes and internal infrastructure is geared towards producing results, as we mean producing them
            u
              b  fast
            | .
          
      .col-md-4.center
        .box.catch3
          i.fa.fa-line-chart
          
        .snippit 
          b Always Moving Forward
          .left Our micro iterations allows our team to constantly hit milestones, maintain focus, and truly
            u
              b understand
            |  the feedback your company gives.  A day with no results means a day off course.
            
section.team#team
  .container
    .row 
      .col-md-12.center
        h2 The Team
    .row.member
      hr
      .col-md-1
      .col-md-4
        .portrait.cody
      .col-md-5.biography
        h1 Cody Seibert
        h4 Cody has been working primarly as a web developer since 2013.  He graduated Cum Laude from the University of Central Florida with a B.S. of Computer Science.  
          br
          br
          | He spent a year working at 
          a(href="http://harris.com/", target="_blank") Harris Corporation
          |  doing various development work.  Cody currently works full time as web developer for 
          a(href="http://flexion.us/", target="_blank") Flexion 
          | building a microservice architecture.  Additionally, he works on various projects outside of the 9-5.  He currently lives in Chattanooga, TN
      .col-md-2.icons
        a(href="https://www.linkedin.com/in/cody-seibert-659921109") i.fa.fa-linkedin
        //- i.fa.fa-home
        //- i.fa.fa-envelope
        //- i.fa.fa-facebook
        //- i.fa.fa-twitter
      
    hr 
    
    .row.member
      .col-md-1
      .col-md-5.biography
        h1 Payden Seibert
        h4 Payden also graduated from the University of Central Floria, but in 2009. 
          br
          br
          | After graduating, he started work at Solstice Enterprise Software building and maintaining web application using the agile methodology.  
          | Since then, he has been working at  
          a(href="https://www.veritas.com/", target="_blank") Symantec 
          | from 2011-2016 and is currently a 
          b Principal Software Engineer.
          br
          br
          | The current project he works on at Symantec is planned to be used world wide as a replacement for their currenty, legacy, software used for big data backup.  He currently lives in Orlando, FL
      .col-md-4
        .portrait.payden
      .col-md-2.icons
        a(href="https://www.linkedin.com/in/payden-seibert-b24b2813") i.fa.fa-linkedin
        //- i.fa.fa-linkedin
        //- i.fa.fa-home
        //- i.fa.fa-envelope
        //- i.fa.fa-facebook
        //- i.fa.fa-twitter
        
    hr
    
    .row.member
      .col-md-1
      .col-md-4
        .portrait.guillermo
      .col-md-5.biography
        h1 Guillermo Casanova
        h4 Guillermo is a designer by day, developer by night.  He was worked on designing a myraid of different things including posters, album art, web sites, brands, icons, logos, etc.  He has the artistic eye, and the technical ability to implement it. 
          br
          br
          | Guillermo currently works at 
          a(href="http://humanaut.is/", target="_blank") Humanaut, LLC 
          | as a full time designer and developer, and it living in Chattanooga, TN.
      .col-md-2.icons
        a(href="https://www.linkedin.com/in/guillermo-casanova-a824b6a0") i.fa.fa-linkedin
        //- i.fa.fa-home
        //- i.fa.fa-envelope
        //- i.fa.fa-facebook
        //- i.fa.fa-twitter
        
        
section.portfolio#portfolio
  .container
    .row
      .col-md-12.center
        h2.title Our Portfolio
        
        hr
        
        .col-md-6.left
          h2.name My Dog Lacy
          h3 About
          .about 
            a(href="http://mydoglacy.com", target="_blank") MyDogLacy.com 
            | is a web app designed to assist pet lovers around the world in creating their very own page for a recently deceased pet.  We designed and implemented this site for ourselves to help us obtain a better grasp on using the Strip API and fortify out ability to work as a team.
          h3 Technology Stack
          .stack
            ul
              li Amazon Web Services
              li Stripe
              li Angular.js
              li Bootstrap
              li Node.js
              li Express.js
              li MongoDB
            
        .col-md-6
          img(
            src="assets/images/grayhound.jpg"
          )
    hr
    .row
      .col-md-12.center
        .col-md-6.left
          h2.name Real Morning Report
          h3 About
          .about 
            | Our involvement with 
            a(href="https://realmorningreport.com", target="_blank") RealMorningReport.com 
            | included designing the backend data models used for storing the user responses and mailing information into an encrypted database.  We helped debug various issues on the front end, integrated with google recaptcha, and integrated with the YesMail Mailing Service API.  Additionally, we consulted with the in house developers of Humanaut and Organic Valley to give advice on security measures and proper code practices.  Since this project has been wrapped up, we are now helping maintain the servers.
          h3 Technology Stack
          .stack
            ul
              li Amazon Web Services
              li Angular.js
              li Node.js
              li Express.js
              li MariaDB
              li Sequelize
            
        .col-md-6
          img(
            src="assets/images/realmorningreport.png"
          )
          img(
            src="assets/images/realmorningreportquestion.png"
          )
          
    hr
    .row
      .col-md-12.center
        .col-md-6.left
          h2.name Setter
          h3 About
          .about 
            | Since Cody and Guillermo are rock climbers, they created 
            a(href="http://setter.rocks", target="_blank") Setter.rocks 
            | for one of their home climbing gyms in Orlando, FL.  The idea behind Setter is to allow facilitate climbing gyms in managing their climbing routes and allowing them to obtain feedback from their members.
          h3 Technology Stack
          .stack
            ul
              li DigitalOcean
              li Angular.js
              li Node.js
              li Express.js
              li MySQL
            
        .col-md-6
          img(
            src="assets/images/settermain.png"
          )
          img(
            src="assets/images/settersocial.png"
          )
      
section.contact#contact
  .container
    .row
      .col-md-12.center
        h2 Contact Us Now!
        hr.dark
        br
        h3 Feel free to send us a message.  We look forward to helping you!
        br
        br
        br
        
        h3(
          style="color: red"  
          ng-if="success === false"
        ) There was an issue submitting your message, please email me directly at 
          br
          br
          | cseibert@seibertsoftwaresolutions.com
        
        h3(
          ng-if="success === true"
        ) Thank you for your message!
        
        form.left.col-md-8.col-md-push-2(
          ng-submit="submit()"
          ng-if="success === null"
        )
          .row
            .form-group.col-md-6
              label First Name
              input.form-control(
                ng-model="form.firstname"
                type="text"
                placeholder="First Name"
              )
              
            .form-group.col-md-6
              label Last Name
              input.form-control(
                ng-model="form.lastname"
                type="text"
                placeholder="Last Name"
              )
          .row
            .form-group.col-md-12
              label Email
              input.form-control(
                ng-model="form.email"
                type="email"
                placeholder="Email"
              )
          
          .row
            .form-group.col-md-12
              label Message
              textarea.form-control(
                ng-model="form.message"
                placeholder="message"
              )
          
          .row.actions
            .col-md-12
              button.btn.btn-primary(
                type="submit"
              ) Send
              
section.footer
  .container
    .row
      .col-md-12.center
        h2 Seibert Software Solutions, LLC &copy; 2016
