
section.header
  .container
    .row
      .col-md-6
        span.logo Seibert Software Solutions, LLC
      .col.md-6.navigation
        .link.selected Home
        .link Team
        .link Portfolio
        .link Contact
        .link Blog

section.banner
  .container
    .row
      .col-md-7
        .main
          h1 Seibert Software Solutions, LLC
        .slogan
          h2 We Specialize in Web Apps
        .info
          h3 Building a web app doesn't have to be hard.  Present to us your idea, and our team will make it come to fruition. 
            br
            | Just sit back, we'll take care of the hard part.
            //- u
            //-   b specialize 
            //- |in building responsive web applications. 
            //- br
            //- br
            //- | Our team has 
            //- u
            //-   b years of experience 
            //- | planning, designing, developing, testing, and deploying responsive web applications.  Let us take care of the hard part.
            
      .col-md-5
        img.main-catch(
          src="assets/images/catch.jpg"
        )
        
section.catch
  .container
    .row
      .col-md-12.center
        h2 We Know Web Development
        hr
        
    .row
      .col-md-4.center
        .box.catch1
          i.fa.fa-laptop
          
        .snippit 
          b Development is Hard
          .left Our team makes it easy.  We are experienced in multiple web technologies and development processes.  In short, your company will
            u
              b achieve
            |   its goals.
          
      .col-md-4.center
        .box.catch2
          i.fa.fa-hourglass-end
          
        .snippit 
          b We Don't Waste Time
          .left If your company has a clear vision, we'll find the perfect solution.  All of our processes and internal infrastructure is geared towards producing results, as we mean producing them
            u
              b  fast
            | .
          
      .col-md-4.center
        .box.catch3
          i.fa.fa-line-chart
          
        .snippit 
          b Always Moving Forward
          .left Our micro iterations allows our team to constantly hit milestones, maintain focus, and truly
            u
              b understand
            |  the feedback your company gives.  A day with no results means a day off course.
            
section.team
  .container
    .row 
      .col-md-12.center
        h2 The Team
    .row.member
      hr
      .col-md-1
      .col-md-4
        .portrait.cody
      .col-md-5.biography
        h1 Cody Seibert
        h4 Cody has been working primarly as a web developer since 2013.  He graduated Cum Laude from the University of Central Florida with a B.S. of Computer Science.  
          br
          br
          | He spent a year working at 
          a(href="http://harris.com/", target="_blank") Harris Corporation
          |  doing various development work.  Cody currently works full time as web developer for 
          a(href="http://flexion.us/", target="_blank") Flexion 
          | building a microservice architecture.  Additionally, he works on various projects outside of the 9-5.  He currently lives in Chattanooga, TN
      .col-md-2.icons
        i.fa.fa-linkedin
        i.fa.fa-home
        i.fa.fa-envelope
        i.fa.fa-facebook
        i.fa.fa-twitter
      
    hr 
    
    .row.member
      .col-md-1
      .col-md-5.biography
        h1 Payden Seibert
        h4 Payden also graduated from the University of Central Floria, but in 2009. 
          br
          br
          | After graduating, he started work at Solstice Enterprise Software building and maintaining web application using the agile methodology.  
          | Since then, he has been working at  
          a(href="https://www.veritas.com/", target="_blank") Symantec 
          | from 2011-2016 and is currently a 
          b Principal Software Engineer.
          br
          br
          | The current project he works on at Symantec is planned to be used world wide as a replacement for their currenty, legacy, software used for big data backup.  He currently lives in Orlando, FL
      .col-md-4
        .portrait.payden
      .col-md-2.icons
        i.fa.fa-linkedin
        i.fa.fa-home
        i.fa.fa-envelope
        i.fa.fa-facebook
        i.fa.fa-twitter
        
    hr
    
    .row.member
      .col-md-1
      .col-md-4
        .portrait.guillermo
      .col-md-5.biography
        h1 Guillermo Casanova
        h4 Guillermo is a designer by day, developer by night.  He was worked on designing a myraid of different things including posters, album art, web sites, brands, icons, logos, etc.  He has the artistic eye, and the technical ability to implement it. 
          br
          br
          | Guillermo currently works at 
          a(href="http://humanaut.is/", target="_blank") Humanaut, LLC 
          | as a full time designer and developer, and it living in Chattanooga, TN.
      .col-md-2.icons
        i.fa.fa-linkedin
        i.fa.fa-home
        i.fa.fa-envelope
        i.fa.fa-facebook
        i.fa.fa-twitter
        
        
section.portfolio
  .container
    .row
      .col-md-12.center
        h2.title Check out our Projects
        
        hr
        
        .col-md-2.right
          .link MyDogLacy
          .link Setter
          .link Typr
        .col-md-5.left
          h2.name My Dog Lacy
          h3 About
          .about 
            a(href="https://mydoglacy.com", target="_blank") MyDogLacy.com 
            | is a web app designed to assist pet lovers around the world in creating their very own page for a recently deceased pet.
          h3 Technology Stack
          .stack
            ul
              li Amazon Web Services
              li Stripe
              li Angular.js
              li Bootstrap
              li Node.js
              li Express.js
              li MongoDB
            
        .col-md-5
          img(
            src="assets/images/grayhound.jpg"
          )
        
section.contact
  .container
    .row
      .col-md-12.center
        h2 Contact Us Now!
        hr.dark
        
        form.left.col-md-8.col-md-push-2
          .row
            .form-group.col-md-6
              label First Name
              input.form-control(
                type="text"
                placeholder="First Name"
              )
              
            .form-group.col-md-6
              label Last Name
              input.form-control(
                type="text"
                placeholder="Last Name"
              )
          .row
            .form-group.col-md-12
              label Email
              input.form-control(
                type="email"
                placeholder="Email"
              )
          
          .row
            .form-group.col-md-12
              label Message
              textarea.form-control(
                placeholder="message"
              )
          
          .row.actions
            .col-md-12
              button.btn.btn-primary(
                type="submit"
              ) Send
              
section.footer
  .container
    .row
      .col-md-12.center
        h2 Seibert Software Solutions, LLC &copy; 2016
